.StartTest{
    display: block;
    margin-top: 64px;
    width: 300px;
    padding: 5px 0;
    text-align: center;
    height: 35px;
    border-radius: 8px;
    color: white;
    background-color: #0F67F5;
}
.TestMain{
    width: 80%;
    margin: 98px auto 0;
}
.TestForm{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.TestForm label{
    font-weight: 600;
}
.TestForm select{
    width: 300px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
}
.TestForm button{
    background-color: blue;
    width: 300px;
    height: 35px;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 8px;
}
.Numbering{
    text-align: left;
    display: inline;
}

.Question{
    margin-top: 8px;
    font-size: 24px;
    font-weight: 600;
    display: inline;
}
.Option{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
}
.NextButton{
    margin-top: 64px;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    height: 35px;
    border-radius: 8px;
    color: white;
    background-color: slateblue;
}
.SubmissionForm{
    width: 100%;    
    position: relative;
}
.SubmissionFormButton{
    display: block;
    margin-top: 64px;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    height: 35px;
    border-radius: 8px;
    color: black;
}
.Subject{
    width: 90%;
    position: fixed;
    top: 50;
    left: 50;
    margin: -138px 0 0 150px;
    z-index: 10000;
    font-size: 18px;
    display: flex;
    gap: 50%;
}
.SubmissionFormButton span{
    font-size: 24px;
}
.ResetButton{
    display: block;
    margin-top: 64px;
    width: 300px;
    padding: 5px 0;
    text-align: center;
    height: 45px;
    border-radius: 8px;
    color: white;
    background-color: #0F67F5;
}
.ButtonContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.SelectRadio{
    display: none;
}
.SelectRadio:checked ~ .RadioLabel{
    color: white;
    background-color: #0F67F5;
}
.RadioLabel{
    width: 70%;
    height: 95px;
    background-color: #E1E1E1;
    display: flex;
    gap: 2%;
    align-items: center;
    padding-left: 10px;
    margin: 8px 0;
    font-weight: 600;
}
.RadioLabel:hover{
    background-color: #aaa5a5;
}