@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  font-size: 1.125rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 1440px) {
  .btn {
    font-size: 1.425rem;
  }
}
@media only screen and (min-width: 2560px) {
  .btn {
    font-size: 2.625rem;
  }
}

.color-btn {
  background-color: hsl(217deg, 92%, 51%);
  color: hsl(0deg, 0%, 98%);
}

.white-btn {
  color: hsl(0deg, 0%, 26%);
}

nav {
  padding: 0.5rem 0;
  width: 100%;
}
nav > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav > .container .navbar-title {
  font-weight: 700;
  font-size: 1.563rem;
  padding: 0.3125rem 0;
}
@media only screen and (min-width: 1440px) {
  nav > .container .navbar-title {
    font-size: 1.863rem;
  }
}
@media only screen and (min-width: 2560px) {
  nav > .container .navbar-title {
    font-size: 3.063rem;
  }
}
nav > .container .navbar-title span:first-child {
  color: hsl(0deg, 0%, 33%);
}
nav > .container .navbar-title span:last-child {
  color: hsl(217deg, 92%, 51%);
}
nav > .container .navbar-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.125rem;
  margin: 0.5rem auto;
  text-transform: capitalize;
}
@media only screen and (min-width: 1440px) {
  nav > .container .navbar-items {
    font-size: 1.425rem;
  }
}
@media only screen and (min-width: 2560px) {
  nav > .container .navbar-items {
    font-size: 2.625rem;
  }
}
nav > .container .navbar-items-active {
  display: flex;
  font-weight: 700;
}
nav > .container .navbar-items .login-wrapper {
  align-self: center;
}

.image-text-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.image-text-wrapper img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
.image-text-wrapper p {
  font-size: 1.125rem;
  text-transform: capitalize;
  font-weight: 500;
}
@media only screen and (min-width: 1440px) {
  .image-text-wrapper p {
    font-size: 1.425rem;
  }
}
@media only screen and (min-width: 2560px) {
  .image-text-wrapper p {
    font-size: 2.625rem;
  }
}

.coin {
  background-color: hsl(0deg, 0%, 94%);
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.3rem 1.6rem;
  width: fit-content;
}
.coin p {
  font-size: 1.125rem;
}
@media only screen and (min-width: 1440px) {
  .coin p {
    font-size: 1.425rem;
  }
}
@media only screen and (min-width: 2560px) {
  .coin p {
    font-size: 2.625rem;
  }
}

.icon-text-wrapper {
  background: hsl(0deg, 0%, 98%);
  border-radius: 0.938rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  width: fit-content;
}
.icon-text-wrapper .icon-wrapper {
  background-color: hsl(217deg, 92%, 51%);
  border-radius: 0.938rem;
  display: flex;
  justify-content: center;
  padding: 0.4rem;
  width: fit-content;
}
.icon-text-wrapper p {
  font-size: 1.125rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 1440px) {
  .icon-text-wrapper p {
    font-size: 1.425rem;
  }
}
@media only screen and (min-width: 2560px) {
  .icon-text-wrapper p {
    font-size: 2.625rem;
  }
}

.price-card-wrapper {
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 23.938rem;
  padding: 1rem 0.7rem;
}
.price-card-wrapper .title-wrapper {
  display: flex;
  justify-content: space-between;
}
.price-card-wrapper .title-wrapper h3 {
  font-size: 1.563rem;
  font-weight: 600;
}
@media only screen and (min-width: 1440px) {
  .price-card-wrapper .title-wrapper h3 {
    font-size: 1.863rem;
  }
}
@media only screen and (min-width: 2560px) {
  .price-card-wrapper .title-wrapper h3 {
    font-size: 3.063rem;
  }
}
.price-card-wrapper p {
  font-size: 1rem;
}
@media only screen and (min-width: 1440px) {
  .price-card-wrapper p {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 2560px) {
  .price-card-wrapper p {
    font-size: 2.5rem;
  }
}
.price-card-wrapper svg {
  align-self: flex-end;
}

.test-card-wrapper {
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  max-width: 40.75rem;
}
.test-card-wrapper .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.test-card-wrapper .details .topic-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
}
.test-card-wrapper .details .topic-wrapper h5 {
  font-size: 1.125rem;
  font-weight: 700;
}
@media only screen and (min-width: 1440px) {
  .test-card-wrapper .details .topic-wrapper h5 {
    font-size: 1.425rem;
  }
}
@media only screen and (min-width: 2560px) {
  .test-card-wrapper .details .topic-wrapper h5 {
    font-size: 2.625rem;
  }
}
.test-card-wrapper .details .topic-wrapper p {
  font-size: 0.938rem;
}
@media only screen and (min-width: 1440px) {
  .test-card-wrapper .details .topic-wrapper p {
    font-size: 1.238rem;
  }
}
@media only screen and (min-width: 2560px) {
  .test-card-wrapper .details .topic-wrapper p {
    font-size: 2.438rem;
  }
}
.test-card-wrapper .image-wrapper img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .test-card-wrapper {
    justify-content: space-between;
  }
  .test-card-wrapper .details {
    align-items: normal;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  nav .container {
    align-items: center;
    gap: 2rem;
  }
  nav .container .navbar-items .login-wrapper {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  nav .container .navbar-items {
    gap: 3rem;
  }
  .test-card-wrapper .details {
    align-items: center;
  }
}
@media screen and (min-width: 2560px) {
  nav .container .navbar-items {
    gap: 5rem;
  }
  .coin svg {
    height: 2.813rem;
    width: 2.813rem;
  }
}
:root {
  font-size: 16px;
}

body {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 26%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

a {
  color: hsl(0deg, 0%, 26%);
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}/*# sourceMappingURL=main.css.map */