.coin {
	background-color: $coin-bg-color;
	border-radius: radius(btn-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	padding: 0.3rem 1.6rem;
	width: fit-content;

	p {
		@include resize(fs-body2);
	}
}
