// STUB: function returns weight
@function weight($weight-name) {
	@return map-get($font-weights, $weight-name);
}

// STUB: function returns border radius
@function radius($radius-name) {
	@return map-get($border-radii, $radius-name);
}

// STUB: create mixin that returns responsive font size
@mixin resize($size-name) {
	$result: map-get($font-sizes, $size-name);
	font-size: $result;

	@media only screen and (min-width: 1440px) {
		$result: map-get($font-sizes, $size-name) + 0.3; // increase font size by 0.3
		font-size: $result;
	}

	@media only screen and (min-width: 2560px) {
		$result: map-get($font-sizes, $size-name) + 0.8; // increase font size by 0.8
		font-size: $result;
	}
}

// STUB: create media-query mixin
@mixin media-md {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin media-sm {
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

@mixin media-xxl {
	@media screen and (min-width: 2560px) {
		@content;
	}
}
