.nav {
	& > .outlet-nav {
		// border-bottom: 1px solid #959595;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.94rem 2rem 0.81rem;

		div {
			.controls {
				@include resize(fs-body5);
			}
		}

		.navbar-controls {
			display: flex;
			align-items: center;
			gap: 0.68rem;
			margin-left: auto;
		}
	}
}

.navbar-title {
	cursor: pointer;
	font-weight: weight(xx-bold);
	@include resize(fs-body5);
	// padding: 0.3125rem 0;

	span:first-child {
		color: $text-title-color;
	}
	span:last-child {
		color: $secondary-color;
	}
}

.MuiDrawer-docked {
	.MuiList-root {
		padding: 3.14rem 0.734rem;

		.MuiListItemButton-root {
			border-radius: radius(drawer-radius);
			color: $drawer-item-color;
			@include resize(fs-body4-2);
			font-weight: weight(x-bold);
			margin-bottom: 0.734rem;
			text-transform: capitalize;
			transition: all 600ms ease-in-out;

			&:hover {
				background-color: $secondary-color;
				color: $white-color;

				.MuiListItemIcon-root {
					svg {
						color: $white-color;
					}
				}
			}
		}

		& > .Mui-selected,
		& > .Mui-focusVisible {
			background-color: $secondary-color;
			color: $white-color;

			.MuiListItemIcon-root {
				svg {
					color: $white-color;
				}
			}
		}
	}
}

.sidemenu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.text-icon-wrapper {
		flex-direction: row-reverse;
		width: unset;
	}
}
