.pricingContainer {
	padding: 2.74rem 1.7rem 0;
	.descriptionSection {
		@include resize(fs-body1);
		font-weight: weight(xx-bold);
		line-height: 33px;
	}
	.pricingHeroSection {
		img {
			display: none;
		}
		.pricingHeroSectionFeatures {
			.pricingHeroSectionFeaturesPara {
				margin: 30px 0px;
			}
			.pricingFeatures {
				@include resize(fs-body3);
				display: flex;
				flex-direction: column;
				gap: 1rem;

				.pricingFeaturesItem {
					display: flex;
					align-items: center;
					gap: 1rem;
				}
			}
		}
	}

	.pricingHeroSection + p {
		margin: 3.3rem 0px 2rem;
	}
	.pricingCardContainer {
		margin-bottom: 5rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		.pricingCardItem {
			display: flex;
			flex-direction: column;
			border-radius: 10px;
			padding: 18px 13px;
			.pricingCardItemTop {
				display: flex;
				justify-content: space-between;
				.durationSection {
					display: flex;
					flex-direction: column;
					p {
						margin: 5px 0px;
					}
				}
			}
			.pricingCardItemBottom {
				text-align: right;
			}
		}
	}
}
