@include media-md {
	.container-layout {
		padding: 0 6.625rem 2.1rem;
		// padding: 1rem 1.5rem;
	}

	.nav {
		padding: 1.4rem 6.625rem;
	}

	.test-card-wrapper {
		justify-content: space-between;

		.details {
			align-items: normal;
			gap: 1.5rem;
		}
	}

	.mainSignUpContainer{
		@include resize(fs-body2);
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		.signUpImageContainer{
			background-image: url("../assets/images/image11.png");
			height: 100%;
			border-radius: 0px 10px 10px 0px;
		}
		.signUpContainer{
			padding: 0px 50px;
		}
	}

	.mainSignInContainer{
		@include resize(fs-body2);
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		.signInImageContainer{
			background-image: url("../assets/images/image12.png");
			border-radius: 0px 10px 10px 0px;
			height: 100vh;
		}
		.signInContainer{
			padding: 0px 50px;
		}
	}

	.subject-progress {
		flex-direction: row;

		.progress-wrapper {
			width: 65%;
		}
	}

	.home {
		.hero-mobile {
			&-text {
				gap: 2rem;
				margin-bottom: 2rem;
			}

			.image-wrapper {
				flex-direction: row;

				.testimonial {
					top: 70%;
					margin-left: -3rem;
				}
			}
		}

		.stats {
			display: flex;
			justify-content: space-between;
		}

		.banner {
			padding: 3rem 1rem;
		}

		.middle-section {
			.text-details {
				h4 {
					@include resize(fs-h5);
				}
			}

			.grid-tc-1fr {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 3rem;
			}

			.text-details-wrapper {
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-items: center;

				img {
					max-width: 100%;
				}
			}

			.reverse {
				& > .text-details {
					grid-column: 2/3;
					grid-row: 1;
				}
				& > .demo-leaderboard {
					grid-column: 1/2;
				}
			}
		}
	}

	footer {
		.footer {
			flex-direction: row;
			gap: 2.5rem;

			.logo-wrapper {
				h2 {
					@include resize(fs-h4);
				}
			}

			.details-wrapper {
				h2 {
					margin-bottom: 1rem;
				}
			}
		}

		.social-icons-wrapper {
			margin: 2rem 0 0;
		}

		.hr-wrapper {
			hr {
				position: absolute;
				width: 100%;
				left: 0;
			}
		}
	}
}

@include media-lg {
	.nav {
		padding: 1.4rem 6.625rem 3.5rem;
	}

	nav {
		& > .container {
			flex-wrap: nowrap;
			align-items: center;
			gap: 2rem;

			.navbar-items {
				// gap: unset;
				margin: 0;
			}
		}
	}

	.mainSignUpContainer{
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		.signUpImageContainer{
			background-image: url("../assets/images/image11.png");
			border-radius: 0px 10px 10px 0px;
		}
		.signUpContainer{
			padding: 0px 100px;
		}
	}

	.mainSignInContainer{
		@include resize(fs-body2);
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		.signInImageContainer{
			background-image: url("../assets/images/image12.png");
			border-radius: 0px 10px 10px 0px;
			height: 100vh;
		}
		.signInContainer{
			padding: 0px 100px;
		}
	}

	.home {
		.hero-mobile {
			display: none;
		}

		.hero-desktop {
			display: grid;
			grid-template-columns: 1fr 1fr;
			position: relative;

			.image-wrapper {
				position: absolute;
				right: -12.625rem;
			}
		}

		.banner {
			padding: 3rem 8.5rem;
		}

		.middle-section {
			.text-details-wrapper {
				gap: 5rem;

				.benefits {
					grid-template-columns: repeat(
						auto-fit,
						minmax(14.875rem, 1fr)
					);
				}
			}
		}

		.call-to-action {
			flex-direction: row;
			justify-content: space-between;

			h2 {
				@include resize(fs-h4);
			}
		}

		.mobile-view-btn {
			display: none;
		}

		.desktop-view-btn {
			display: block;
		}
	}

	footer {
		overflow-x: hidden;
		padding: 4.56rem 6.375rem 2.938rem;

		.footer {
			gap: 10rem;
		}
	}
}

@include media-xl {
	nav {
		.container {
			.navbar-items {
				gap: 3rem;
			}
		}
	}

	.test-card-wrapper {
		.details {
			align-items: center;
		}
	}

	.mainSignUpContainer{
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		.signUpImageContainer{
			background-image: url("../assets/images/image11.png");
			border-radius: 0px 10px 10px 0px;

		}
		.signUpContainer{
			padding: 0px 100px;
		}
	}

	.mainSignInContainer{
		@include resize(fs-body2);
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		.signInImageContainer{
			background-image: url("../assets/images/image12.png");
			border-radius: 0px 10px 10px 0px;
			height: 100vh;
		}
		.signInContainer{
			padding: 0px 100px;
		}
	}

	.image-text-wrapper {
		img {
			width: 1.425rem;
			height: 1.425rem;
		}
	}

	// .home {
	// 	.middle-section {
	// 		.text-details-wrapper {
	// 			.benefits {
	// 				grid-template-columns: repeat(
	// 					auto-fit,
	// 					minmax(14.875rem, 1fr)
	// 				);
	// 			}
	// 		}
	// 	}
	// }
}

@include media-xxl {
	nav {
		.container {
			.navbar-items {
				gap: 5rem;
			}
		}
	}

	.coin {
		svg {
			height: 2.813rem;
			width: 2.813rem;
		}
	}

	.mainSignUpContainer{
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		
		.signUpImageContainer{
			background-image: url("../assets/images/image11.png");
			border-radius: 0px 10px 10px 0px;
		}
		.signUpContainer{
			padding: 0px 100px;
		}
	}

	.mainSignInContainer{
		@include resize(fs-body2);
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		.signInImageContainer{
			background-image: url("../assets/images/image12.png");
			border-radius: 0px 10px 10px 0px;
			height: 100vh;
		}
		.signInContainer{
			padding: 0px 100px;
		}
	}

	.text-icon-wrapper {
		.icon-wrapper {
			width: 3.5rem;
			height: 3.5rem;

			svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	.image-text-wrapper {
		img {
			width: 1.925rem;
			height: 1.925rem;
		}
	}

	.home {
		.hero-desktop {
			justify-items: center;
		}

		.middle-section {
			.text-details-wrapper {
				gap: 10rem;
			}
		}
	}

	footer {
		.footer {
			gap: 25rem;

			.details-wrapper {
				.input-wrapper {
					width: unset;
					min-width: 12rem;
				}
			}
		}

		.social-icons-wrapper {
			.icon-wrapper {
				width: 3rem;
				height: 3rem;

				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}
