@include media-md {
	.container-layout {
		padding: 1rem 1.5rem;
	}

	.test-card-wrapper {
		justify-content: space-between;

		.details {
			align-items: normal;
			gap: 1.5rem;
		}
	}

	.subject-progress {
		flex-direction: row;

		.progress-wrapper {
			width: 65%;
		}
	}

	.home {
		.hero-mobile {
			&-text {
				gap: 2rem;
				margin-bottom: 2rem;
			}

			.image-wrapper {
				flex-direction: row;
				justify-content: center;

				.testimonial {
					top: 70%;
				}
			}
		}

		.middle-section {
			.text-details-wrapper {
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-items: center;

				img {
					max-width: 100%;
				}

				// .benefits {
				// 	grid-template-columns: repeat(
				// 		auto-fit,
				// 		minmax(8rem rem, 1fr)
				// 	);
				// }
			}
		}
	}

	footer {
		.footer {
			flex-direction: row;
			gap: 2.5rem;

			.logo-wrapper {
				h2 {
					@include resize(fs-h4);
				}
			}

			.details-wrapper {
				h2 {
					margin-bottom: 1rem;
				}
			}
		}

		.social-icons-wrapper {
			margin: 2rem 0 0;
		}

		.hr-wrapper {
			hr {
				position: absolute;
				width: 100%;
				left: 0;
			}
		}
	}
}

@include media-lg {
	nav {
		.container {
			align-items: center;
			gap: 2rem;

			.navbar-items {
				.login-wrapper {
					margin-left: 2rem;
				}
			}
		}
	}

	.home {
		.hero-mobile {
			display: none;
		}

		.hero-desktop {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		.middle-section {
			.text-details-wrapper {
				.benefits {
					grid-template-columns: repeat(
						auto-fit,
						minmax(14.875rem, 1fr)
					);
				}
			}
		}
	}

	footer {
		overflow-x: hidden;
		padding: 4rem 3rem 2rem;

		.footer {
			gap: 10rem;
		}
	}
}

@include media-xl {
	nav {
		.container {
			.navbar-items {
				gap: 3rem;
			}
		}
	}

	.test-card-wrapper {
		.details {
			align-items: center;
		}
	}

	.image-text-wrapper {
		img {
			width: 1.425rem;
			height: 1.425rem;
		}
	}

	// .home {
	// 	.middle-section {
	// 		.text-details-wrapper {
	// 			.benefits {
	// 				grid-template-columns: repeat(
	// 					auto-fit,
	// 					minmax(14.875rem, 1fr)
	// 				);
	// 			}
	// 		}
	// 	}
	// }
}

@include media-xxl {
	nav {
		.container {
			.navbar-items {
				gap: 5rem;
			}
		}
	}

	.container-layout {
		padding: 2rem;
	}

	.coin {
		svg {
			height: 2.813rem;
			width: 2.813rem;
		}
	}

	.text-icon-wrapper {
		.icon-wrapper {
			width: 3.5rem;
			height: 3.5rem;

			svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	.image-text-wrapper {
		img {
			width: 1.925rem;
			height: 1.925rem;
		}
	}

	.home {
		.hero-desktop {
			justify-items: center;
		}

		.middle-section {
			.text-details-wrapper {
				gap: 10rem;
			}
		}
	}

	footer {
		.footer {
			gap: 25rem;
		}

		.social-icons-wrapper {
			.icon-wrapper {
				width: 3rem;
				height: 3rem;

				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}
