@include media-md {
	.test-card-wrapper {
		justify-content: space-between;

		.details {
			align-items: normal;
			gap: 1.5rem;
		}
	}

	.subject-progress {
		flex-direction: row;

		.progress-wrapper {
			width: 65%;
		}
	}
}

@include media-lg {
	nav {
		.container {
			align-items: center;
			gap: 2rem;

			.navbar-items {
				.login-wrapper {
					margin-left: 2rem;
				}
			}
		}
	}
}

@include media-xl {
	nav {
		.container {
			.navbar-items {
				gap: 3rem;
			}
		}
	}

	.test-card-wrapper {
		.details {
			align-items: center;
		}
	}
}

@include media-xxl {
	nav {
		.container {
			.navbar-items {
				gap: 5rem;
			}
		}
	}
	.coin {
		svg {
			height: 2.813rem;
			width: 2.813rem;
		}
	}

	.text-icon-wrapper {
		.icon-wrapper {
			width: 3.5rem;
			height: 3.5rem;

			svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}
}
