.study-plan {
	display: flex;
	flex-direction: column;
	gap: 2.625rem;
	padding: 2.5rem 3rem 2.1rem;

	// STUB: this class is common to all sections in study-plan
	.text-details {
		display: flex;
		flex-direction: column;
		gap: 0.625rem;

		.header-wrapper {
			display: flex;
			align-items: center;
			gap: 0.75rem;

			h1 {
				@include resize(fs-body2);
				font-weight: weight(x-bold);
			}
		}

		p {
			@include resize(fs-body4-2);
		}
	}

	.categories-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2.56rem;

		.swiper {
			width: 100%;
			height: 100%;

			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;

				/* Center slide text vertically */
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.disabled {
			opacity: 0.5;
			transition: opacity 500ms ease-in-out;
		}
	}

	.schedule {
		.date-picker {
			width: 100%;
			max-width: 14.5rem;
			margin: 2rem auto;

			.react-calendar {
				.react-calendar__navigation {
					display: flex;
					button {
						span {
							@include resize(fs-body4-2);
							font-weight: weight(x-bold);
						}
					}
				}

				.react-calendar__viewContainer {
					.react-calendar__month-view {
						@include resize(fs-body5);

						.react-calendar__month-view__weekdays {
							border-bottom: 0.65px solid $text-body-color;
							display: flex !important;
							justify-content: space-around;
							font-weight: weight(x-bold);
							padding: 0.65rem 0 0.5rem;

							.react-calendar__month-view__weekdays__weekday {
								flex: none !important;

								abbr {
									text-decoration: none;
								}
							}
						}

						.react-calendar__month-view__days {
							display: grid !important;
							grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
							padding: 0.5rem 0 0.86rem;
							row-gap: 0.975rem;

							button {
								padding: 0.5rem 0;
							}
						}

						.react-calendar__month-view__days__day--neighboringMonth {
							opacity: 0.7;
						}

						.react-calendar__tile--range {
							border-bottom: 0.65px solid $text-body-color;
						}
					}
				}

				.highlight {
					background-color: $secondary-color;
					border-radius: radius(circle);
					color: $white-color;
				}
			}
		}

		hr {
			border: 0.5px solid $hr-color;
			margin-bottom: 3.063rem;
		}

		.create-schedule {
			& > div {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.94rem;

				.create-schedule-wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 0.65rem;

					.MuiButton-outlined {
						color: $text-title-color;
						border-bottom: 1.5px solid $secondary-color;
						border-radius: 0;
						font-family: inherit;
						@include resize(fs-body5);
						text-transform: capitalize;
					}
				}
			}
		}
	}

	.study-progress {
		display: flex;
		flex-direction: column;
		gap: 1.063rem;

		.chart-wrapper {
			display: flex;
		}
	}
}
