.study-plan {
	display: flex;
	flex-direction: column;
	gap: 2.625rem;
	padding: 2.5rem 3rem 2.1rem;

	.categories-wrapper {
		.text-details {
			display: flex;
			flex-direction: column;
			gap: 0.625rem;

			.header-wrapper {
				display: flex;
				align-items: center;
				gap: 0.75rem;

				h1 {
					@include resize(fs-body2);
					font-weight: weight(x-bold);
				}
			}

			p {
				@include resize(fs-body4-2);
			}
		}

		.swiper {
			width: 100%;
			height: 100%;

			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;

				/* Center slide text vertically */
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.swiper-button-next {
				background-image: url(./src/assets/svg/next-icon.svg);
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: center;
			}

			.swiper-button-next::after {
				display: none;
			}

			.swiper-button-prev {
				background-image: url(./src/assets/svg/previous-icon.svg);
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: center;
			}

			.swiper-button-prev::after {
				display: none;
			}
		}
	}
}
